@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title</h2>

    <address>
        Ștefan<br />
        Computer Science Student<br />
        Ștefan cel Mare University of Suceava<br />
        <abbr title="Adress">Adress</abbr>
        Str. Universității 13, 720229 Suceava, Romania<br />
        <abbr title="Adress">Email</abbr>
        stefan.c@student.usv.ro

    </address>

   
</main>